<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners class-name="com.itlearn.utilities.ITestListenerClass"></listeners>
  <test thread-count="5" name="Test">
    <classes>
   <!--     <class name="com.itlearn.testcases.LoginTestDriverData"/>-->
      
        <!--   <class name="com.itlearn.testcases.SerachTestCase"/>-->
        
       <!--  <class name="com.itlearn.testcases.DashBoardTestCase"/>-->
        <class name="com.itlearn.testcases.PaymentTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
